@import "./typography";
@import "./reset";

@import "./components/Grid";
@import "./components/Card";
@import "./pages/index";
@import "./components/Layout";
body {
	background: black;
	background-image: url("/texture/sec.jpg");
	overflow-x: hidden;
	min-height: 100vh;
	min-width: 100vw;
}

* {
	box-sizing: border-box;
}
